<div class="fun-strip">
  <div class="fun-strip-track">
    <span>Weddings</span><span class="dot">✦</span><span>Elopements</span><span class="dot">✦</span><span>Family</span><span class="dot">✦</span><span>Newborns</span><span class="dot">✦</span><span>Maternity</span><span class="dot">✦</span><span>Engagements</span><span class="dot">✦</span><span>All the Love</span><span class="dot">✦</span><span>No Boring Photos</span><span class="dot">✦</span>
    <span>Weddings</span><span class="dot">✦</span><span>Elopements</span><span class="dot">✦</span><span>Family</span><span class="dot">✦</span><span>Newborns</span><span class="dot">✦</span><span>Maternity</span><span class="dot">✦</span><span>Engagements</span><span class="dot">✦</span><span>All the Love</span><span class="dot">✦</span><span>No Boring Photos</span><span class="dot">✦</span>
  </div>
</div>
