<section class="gallery-section reveal" id="work">
  <div class="gallery-header">
    <h2>Recent Love Stories</h2>
    <div class="sub">Real weddings. Real moments. Real magic. ✦</div>
  </div>
  <div class="masonry">
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Darver Castle</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Marlay Park</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">National Gallery</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Glasson Lakehouse</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Poulaphouca House</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Seafield Hotel</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Unitarian Church</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Herbert Park</span></div>
    <div class="masonry-item"><div class="img-ph"></div><span class="venue-tag">Amber Springs</span></div>
  </div>
</section>
